.between {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

.between span { 
    background:#fff; 
    padding:0 10px; 
}
.wider{
   width: 100%;
}
.flexor{
   display: flex;
   justify-content: space-between;
}
#addLine{
   border-right: 0.5px black solid;
}