@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.bigContainer{
    max-width: 1400px;
    margin: 0 auto;
}
.logo{
    width: 180px;
}
.heroImg{
    width: 100%
}

.aboutUsRow{
    max-width: 1000px;
    margin: 0 auto;
}
.aboutUsHead{
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 120%;
margin-top: 40px;
}
.aboutUsPara{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #5E5E5E;
padding-bottom: 120px;
}


.facts{
    padding-bottom: 100px;
}

.factHead, .founderHead{
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 120%;
color: #262626;
margin-bottom: 36px;
}
.factFlex{
    /* display: flex; */
    flex-wrap: wrap;
}
.factBox{
    
    border-radius: 8px;
    background-color: #85A19A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.factFig{
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 120%;
color: white;
margin-top: 146px;
margin-bottom: 56px;
}
.factPara{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
color: white;
margin-bottom: 139px;
}


.founders{
    padding-bottom: 100px;
}
.founderImg{
    margin-bottom: 16px;
}
.founderName{
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 120%;
color: #3F3F3F;
margin-bottom: 8px;
}
.founderPosition{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #5E5E5E;
}


.subscribe{
    background: #F9F9F9;
    padding-top: 80px;
    padding-bottom: 60px;
}
.subscribeHead{
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 120%;
color: #262626;
margin-bottom: 32px;
}
.subscribePara{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #5E5E5E;
margin-bottom: 32px;
}
.subscribeImg{
    height: 280px;
    width: 651px;
}
.needList{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #5E5E5E;
}
.subscribeInp{
    width: 346px;
}


.footer{
    padding: 80px;
    padding-bottom: 183px;
    color: white;
}
.topCol{
    display: flex;
    gap: 140px;
    flex-wrap: wrap;
    padding-bottom: 140px;
}
.firstCol, .secondCol{
    display: flex;
    justify-content: space-between;
    gap: 140px;
}
.footerHead{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
}
.footerList a{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-decoration: none;
color: white;
}

.visitSocial{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
margin-bottom: 42px;
}
.socialIcons img{
    width: 22px;
    height: 20px;
    margin-right: 55px;
}
.copyrigyht{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
margin-top: 42px;
}
.mailTitle{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
margin-bottom: 28px;
}



@media (max-width: 800px){
    .aboutUsHead{
        font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 120%;
margin-top: 20px;
    }
    .aboutUsPara{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
margin-top: 20px;
margin-bottom: 0px;
    }
    .factHead, .founderHead{
        font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 120%;
margin-bottom: 40px;
    }
    .factBox{
        margin-bottom: 20px;
    }
    .factFig{
        margin-top: 66px;
        margin-bottom: 4px;
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
    }
    .factPara{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
margin-bottom: 66px;
    }
    .facts{
        padding-bottom: 80px;
    }

    .founderName{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
margin-bottom: 2px;
    }
    .founderPosition{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
margin-bottom: 16px;
    }
    .founders{
        padding-bottom: 80px;
    }

    .subscribeHead{
        font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 120%;
margin-bottom: 20px;
    }
    .subscribePara{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
margin-bottom: 20px;
    }
    .subscribeImg{
        margin-bottom: 20px;
    }
    .needList{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #5E5E5E;
    }

    .footer{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .smallfooterCont{
        padding-left: 20px;
        border-bottom: 3px solid #F9F9F9;
    }
    .footerHead{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
    }
    .footerList{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
    }
    .mailTitle{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
margin-bottom: 8px;
margin-top: 20px;
    }
    .mailInput{
        margin-bottom: 86px;
    }
    .visitSocial{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
margin-bottom: 23px;
    }
    .socialIcons img{
        margin-right: 24px;
    }
    .copyrigyht{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
margin-top: 20px;
    }

}

